### Learning Path Task 2 : Read and Write to csv File

#### What is a CSV ?

##### The so-called CSV (Comma Separated Values) format is the most common import and export format for spreadsheets and databases. 
##### [(src)](https://docs.python.org/3/library/csv.html "Source for Definition")

In [3]:
# Using pandas Library to read csv file

import pandas as pd

data=pd.read_csv("cars.csv")
data.head()

   age  gender  miles   debt  income  sales
0   28       0     23      0    4099    620
1   26       0     27      0    2677   1792
2   30       1     58  41576    6215  27754
3   26       1     25  43172    7626  28256
4   20       1     17   6979    8071   4438

In [16]:
# Using pandas to write to a csv file
cities = pd.DataFrame([["Bangalore", "Karnataka"], ["Gandhinagar", "Gujarat"]], columns=["City", "State"])
cities.to_csv("cities.csv")

In [17]:
#testing that our write did actually work
city_data=pd.read_csv("cities.csv")
city_data.head()

   Unnamed: 0         City      State
0           0    Bangalore  Karnataka
1           1  Gandhinagar    Gujarat

### Note :The indices from the DataFrame ended up becoming a new column, which is now Unnamed. To avoid that problem,we must specify not to save the indexes of the DF when we are saving it using the to_csv function

In [25]:
# Using pandas to write to a csv file
cities_new = pd.DataFrame([["Bangalore", "Karnataka"], ["Gandhinagar", "Gujarat"]], columns=["City", "State"])
cities_new.to_csv("cities_new.csv", index=False)

In [26]:
#testing that our write did actually work
new_city_data=pd.read_csv("cities_new.csv")
new_city_data.head()

          City      State
0    Bangalore  Karnataka
1  Gandhinagar    Gujarat

##### Now in case this doesnt work as sometimes there is an [issue in pandas that prevents this](https://github.com/pandas-dev/pandas/issues/26042 "unresolved issue") so here is analternative to drop those Unnamed: 0 coloumns

In [23]:
#simply drop the unnamed coloumn while making the new dataframe
new_city_data = pd.read_csv('cities_new.csv').drop(['Unnamed: 0'],axis=1)
new_city_data.head()

          City      State
0    Bangalore  Karnataka
1  Gandhinagar    Gujarat

##### Nice and clean way to read and write to csv files using pandas